*{
    padding: 0;
    margin: 0;
}
/*nav{
  background-color:skyblue;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
padding-left: 0px;
}*/
h1{
  color: black;
  
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 69px;
font-style: oblique;
  margin:0;
}
/*nav{
  background-image: url(../images/homebg2.jpg);
  color: white;
  
  font-style: italic;
}*/
/*nav{
  background-image: url(../images/homebg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-style: italic;
}*/
nav{
  background-image: url(../images/homebg3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  font-style: italic;
  
  padding: 20px;
  backdrop-filter: blur(10px); /* Adds a blur effect to the background */
}


ul,li,h3{
  display: inline;
}
ul{
  margin-left: 65%;
  text-shadow: 2px 2px 5px black;
}
li{
  margin-left: 10px;
  cursor: pointer;
  text-shadow: 2px 2px 5px black;
}
a{
color:black;
text-shadow: 2px 2px 5px black;

}
a:hover{
  color: skyblue;
}
.content{
  height:500px;
  width: 500px;
  color: aliceblue;
  font-size: 20px;
  margin-left: 50%;
  margin-top: 10%;
  margin-right: 10%;
  

}
.image{
  height:500px;
  width:400px;
   position: absolute;
   top: 70px;
   left: 60px;
  margin-left: 10%;
  margin-right:70% ;
 
}
.image img{
  height:500px;
  width:450px;
 margin-top: 40%;
  justify-content: center;
  border-radius: 70%;
  display:flex;
 

}
.icons{
 
  text-align: center;
  padding: 10px;
  font-size: 40px;
  margin: 0px;
}
.icons a{
color:white;
}
.icons a:hover{
  color:skyblue;
}
